@import url("https://fonts.google.com/IBM+Plex+Sans Display:wght@400; 700&display=swap");

:root {
  --Very-light-gray: hsl(0, 0%, 95%);
  --Red-orange: hsl(12, 94%, 65%);
  --Blue-magenta: hsl(244, 37%, 15%);
  --Magenta-green: hsl(20, 33%, 98%);
  --Blue-green: hsl(7, 33%, 98%);
  --Very-dark-blue-magenta: hsl(244, 23%, 12%);
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 375px;
  height: 1945px;
  background-image: url("assets/bg-main-mobile.png"),
    url("assets/bg-pattern-2.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0px -190px, 40px 650px;
  background-size: 800px 800px, 300px 420px;
  
}

.first-logo {
  margin-top: 39.99px;
  margin-left: 24.15px;
}

h1 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.454545px;
  color: #191826;
  margin-top: 64.01px;
  margin-left: 20px;
  width: 327px;
  height: 144px;
}

.first-p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #191826;
  margin-top: 20px;
  margin-left: 20px;
  width: 327px;
  height: 156px;
}

.illustration-img {
  width: 208.97px;
  height: 430px;
  margin-top: 68px;
  margin-left: 80.67px;
  position: relative;
}

.premium {
  border: solid black;
  width: 375px;
  height: 1024px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: 68px;
  position: relative;
  margin-bottom: 1000px;
}

.premium-eq {
  width: 375px;
  height: 546px;
  position: relative;
  margin-top: 42px;
  background: #fa7453;
  border-radius: 12px;
}

h2 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #fcfaf9;
  width: 302px;
  height: 40px;
  margin-left: 36px;
}

.second-p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fcfaf9;
  width: 302px;
  height: 140px;
  margin-left: 36px;
}

.price {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;
  color: #fcfaf9;
  width: 79px;
  height: 52px;
  margin-left: 42px;
}

.month {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #fcfaf9;
  width: 70px;
  height: 32px;
  margin-left: 16px;
  margin-top: 45px;
}

.ios {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  color: #fcfaf9;
  width: 296px;
  height: 61px;
  margin-left: 42px;
  margin-top: 32px;
}

.android {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  color: #191826;
  width: 296px;
  height: 61px;
  margin-left: 42px;
  margin-top: 32px;
}

.second-logo {
  margin-top: 63.99px;
  margin-left: 25.15px;
}

.third-p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #191826;
  width: 327px;
  height: 105px;
  margin-top: 32.01px;
  margin-left: 24px;
}

.icons {
  width: 100px;
  height: 20px;
  margin-bottom: 80px;
  margin-left: 24px;
}
